<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fresh Meal Cart</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="{% static '/shop/css/cart.css'%}" />
    <link rel="stylesheet" href="{% static '/shop/css/store.css'%}">
    <script src="{% static '/shop/js/store.js'%}" async></script>
  </head>
  <body>
    <div class="main-wrapper">
        <div class="nav-background">
            <div class="mobile-logo">
                <img src="{% static '/shop/icons/logo.svg'%}" alt="">
            </div>
            <div class="mobile-nav">
                <div class="cart">
                </div>
                <div class="nav-top">
                    <ul>
                        <li>
                            <a href="index.html#home">Home</a>
                        </li>
                        <li>
                            <a href="index.html#products">Products</a>
                        </li>
                        <li>
                            <a href="index.html#about">About us</a>
                        </li>
                        <li>
                            <a href="index.html#services">Services</a>
                        </li>
                        <li>
                            <a href="index.html#contact-us">Contact us</a>
                        </li>
                        <li>
                            <a href="Store.html">Store</a>
                        </li>
                         <li>
                            <a href="project-info.html">Project Info</a>
                        </li>
                    </ul>
                </div>
                <div class="contact flex items-center">
                    <img src="{% static '/shop/icons/phone.svg'%}" alt="">
                    <div>
                        <h5>Call us: (+91) 123 456 789</h5>
                        <h6>E-mail : support@freshmeal.com</h6>
                    </div>
                </div>
                <div class="time flex items-center">
                    <img src="{% static '/shop/icons/clock.svg'%}" alt="">
                    <div>
                        <h5>Working Hours:</h5>
                        <h6>Mon - Sat (8.00am - 5.00pm)</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-content-wrapper">
            <div class="nav-trigger">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-bar-chart">
                    <line x1="12" y1="20" x2="12" y2="10" />
                    <line x1="18" y1="20" x2="18" y2="4" />
                    <line x1="6" y1="20" x2="6" y2="16" /></svg>
            </div>
            <div class="site-content">
                <nav>
                    <div class="top">
                        <div class="container flex justify-between">
                            <div class="contact flex items-center">
                                <img src="{% static '/shop/icons/phone.svg'%}" alt="">
                                <div>
                                    <h5>Call US: (+91) 123 456 789</h5>
                                    <h6>E-mail : support@freshmeal.com</h6>
                                </div>
                            </div>
                            <div class="branding">
                                <img src="{% static '/shop/icons/logo.svg'%}" alt="">
                            </div>
                            <div class="time flex items-center">
                                <img src="{% static '/shop/icons/clock.svg'%}" alt="">
                                <div>
                                    <h5>Working Hours:</h5>
                                    <h6>Mon - Sat (8.00am - 12.00am)</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar magic-shadow">
                        <div class="container flex justify-center">
                            <a href="/shop" >Home</a>
                            <a href="index.html#products">Products</a>
                            <a href="/shop/aboutus">About us</a>
                            <a href="index.html#services">Services</a>
                            <a href="index.html#contact-us">Contact us</a>
                            <a href="/shop/cart" class="active">Store</a>
                            <a href="/shop/project_info">Project Info</a>
                        </div>
                    </div>
                </nav>

                <section class="container content-section">
                    <h2 class="section-header">Store</h2>
                    <div class="shop-items">
                        {% for i in product %}
                        <div class="shop-item">
                             <span class="shop-item-title">{{i.product_name}}</span>
                            <img class="shop-item-image" src="/media/{{i.image}}">
                            <div class="shop-item-details">
                                <span class="shop-item-price">&#8377; {{i.price}}</span>
                                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </section>
                <br> 
                        
                <br>
                <hr>
                <br>

                <section class="container content-section">
                    <h2 class="section-header">CART</h2>
                    <div class="cart-row">
                        <span class="cart-item cart-header cart-column">ITEM</span>
                        <span class="cart-price cart-header cart-column">PRICE</span>
                        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                    </div>
                    <div class="cart-items">
                    </div>
                    <div class="cart-total">
                        <strong class="cart-total-title">Total</strong>
                        <span class="cart-total-price">₹0</span>
                    </div>
                    <button class="btn btn-primary btn-purchase" type="button"> <a href="/shop/order">PURCHASE</a> </button>
                </section>

                                            
                                               
                 <footer class="copyright">
                 <div>
                  Copyright © 2021 .All rights reserved by FreshMeal.</a>
                  </div>
                </footer> 
                </div>
                </div>
                </div>
                                       
<!-- !! script part  -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static '/shop/js/app.js'%}"></script>
  
  </body>
</html>
